doctype html

block head


html
    head
        title= title
    body
        block content
        script(src='/vendor/jquery/dist/jquery.min.js')
        script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
