doctype html

block head


block content
html
    head
        title= title
    body
        script(src='/vendor/jquery/dist/jquery.min.js')
        script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
